*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #1f2937;
  color: #f9faf8;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h4 {
  font-size: 1.25rem;
}

p,
a {
  font-size: 14px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  padding: 36px 24px;

  .inner {
    width: 100%;
  }
}

section {
  flex: 1;
}

.header {
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 48px;
      font-weight: bold;
    }

    h2 {
      font-size: 24px;
    }
    ul {
      display: flex;
      gap: 12px;

      list-style-type: none;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    article {
      display: flex;
      flex-direction: column;
      flex: 1;

      gap: 12px;
      flex-basis: 275px;
    }

    img {
      flex: 1;
      display: block;
      width: 100%;
      border-radius: 6px;
      flex-basis: 450px;
    }

    button {
      background-color: #3882f6;
      margin-right: auto;
      padding: 6px 18px;
      border-radius: 6px;
      color: #f9faf8;
      font-weight: bold;
    }
  }
}

.info {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    .title {
      font-size: 36px;
      color: #1f2937;
      font-weight: 900;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      gap: 12px;

      li {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        flex-basis: 200px;
        max-width: 200px;

        img {
          border-radius: 12px;
          border: #3882f6 3px solid;
          width: 100%;
          height: 150px;
          object-fit: fill;
        }

        p {
          color: #1f2937;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    blockquote {
      font-size: 36px;
      font-style: italic;
      font-weight: lighter;
      color: #1f2937;
    }

    p {
      color: #1f2937;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.call-to-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .inner {
    background-color: #3882f6;
    padding: 24px 12px;
    border-radius: 12px;

    div {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 12px;
      flex-wrap: wrap;
    }

    article {
      flex: 1;
      flex-basis: 70%;

      h4 {
        margin-bottom: 6px;
      }
    }

    button {
      flex: 1;
      flex-basis: 100px;
      background-color: transparent;
      border: #f9faf8 1px solid;
      border-radius: 6px;
      padding: 6px 12px;
      color: #f9faf8;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    padding: 16px;
  }
}
